:root{
    --selection-color:#000;
    --bg-color:#333; 
    --bg2-color:#242424;
    --white-color:white;
    --red-color:rgb(255, 0, 76);
    --top-content-text: rgba(255, 255, 255, 0.884);
    --label-one-color: rgba(245, 245, 245, 0.801);
    --button-color:rgb(197, 197, 197);
}
.light-theme{
    --selection-color:grey;
    --bg-color:rgb(245, 245, 245);
    --bg2-color:rgb(230, 230, 230);
    --white-color:#000;
    --red-color:rgb(255, 0, 76);
    --top-content-text: #242424;
    --label-one-color: #333;
    --button-color:#3d3d3d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*::selection{
    background-color:  var(--selection-color); 
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.content{
    width:55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color);
}
.top-content-text{
    animation: transitionIn 2.5s;
    height: 100%;
    width: 100%;
    color: var(--top-content-text);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 2%;
}
.label1{
    padding-left: 5%;
    font-size: 35px;
    color: var(--label-one-color);
    margin: 0 0 3% 0;
}
.top-content-text h1{
    padding-left: 5%;
    font-size: 75px;
}
.top-content-text h2{
    padding-left: 5%;
    font-size: 55px;
}
.label2{
    padding-left: 5%;
    margin: 5% 0 0 0;
    font-size: 20px;
    color: var(--label-one-color);
}
.label3{
    font-size: 17px;
    padding-left: 5%;
    margin: 7% 0 0 0;
    text-align: justify;
    max-width: 83ch;
}
#dugme{
    padding-left: 5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--button-color);
    margin: 1% 0 0 0;
}
#dugme:hover{
    color: var(--red-color);
    transition: .5s;
}
.top-content-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    animation: transitionOut 2.5s;
}
.github-link{
    color: var(--red-color);
}
.top-border{
    border-left: 2px solid var(--white-color);
    border-top: 2px solid var(--white-color);
    width: 6%;
    height: 6%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-left-radius  : 5px;
}
.botton-border{
    border-right: 2px solid var(--white-color);
    border-bottom: 2px solid var(--white-color);
    width: 6%;
    height: 6%;
    display: flex;
    margin-left: 83%;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom-right-radius: 5px;
}
.top-content-image{
    width: 45%;
    margin: 0 1.3% 0 0 ;
    height: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg2-color);
    box-shadow: .1px .1px 35px var(--selection-color);
    flex-direction: column;
    border-radius: 5px;
}
.image{
    display: flex;
    align-items: center;
    max-width: 60%;
    justify-content: center;
    border-image: linear-gradient(var(--white-color), var(--bg2-color)) 30;
    border-bottom: none;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}
.top-content-image-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--red-color);
    align-items: center;
    width: 30%;
    margin: 1% 0 3% 0;
}
.top-content-image-elements li{
    list-style-type: none;
}
.top-content-image-elements li a{
    color: var(--white-color);
    text-decoration: none;
}
.info{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    color: var(--white-color);
}
.info label:first-child{
    color: var(--white-color);
    font-size: 20px;
}
.info label:last-child{
    font-size: 20px;
}
.icon{
    display: flex;
    width: 90%;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
}

@keyframes transitionIn {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes transitionOut {
    0%{
        opacity: 0;
        transform: translateX(100%)
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }
}