    /* color: rgb(255, 0, 76); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*::selection{
    /* color: rgb(255, 0, 76); */
    background-color:  #000; ;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.top-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333;
}
.top-content-text{
    animation: transitionIn 2.5s;
    height: 100%;
    width: 55%;
    color: rgba(255, 255, 255, 0.884);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 2%;
}
.label1{
    padding-left: 5%;
    font-size: 35px;
    color: rgba(245, 245, 245, 0.801);
    margin: 0 0 3% 0;
}
.top-content-text h1{
    padding-left: 5%;
    font-size: 75px;
}
.top-content-text h2{
    padding-left: 5%;
    font-size: 55px;
}
.label2{
    padding-left: 5%;
    margin: 5% 0 0 0;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.801);
}
.label3{
    font-size: 17px;
    padding-left: 5%;
    margin: 7% 0 0 0;
    text-align: justify;
    max-width: 83ch;
}
#dugme{
    padding-left: 5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(197, 197, 197);
    margin: 1% 0 0 0;
}
#dugme:hover{
    color: rgba(255, 0, 76);
    transition: .5s;
}
.top-content-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    animation: transitionOut 2.5s;
}
.github-link{
    color: rgba(255, 0, 76);
}
.top-border{
    border-left: 2px solid white;
    border-top: 2px solid white;
    width: 6%;
    height: 6%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-left-radius  : 5px;
}
.botton-border{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 6%;
    height: 6%;
    display: flex;
    margin-left: 83%;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom-right-radius: 5px;
}
.top-content-image{
    width: 45%;
    margin: 0 1.5% 0 0 ;
    /* border: 1px solid white; */
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    box-shadow: .1px .1px 20px black;
    flex-direction: column;
}
.image{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
}
.top-content-image-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgba(255, 0, 76);
    align-items: center;
    width: 30%;
    margin: 1% 0 3% 0;
}
.top-content-image-elements li{
    list-style-type: none;
}
.top-content-image-elements li a{
    color: white;
    text-decoration: none;
}
.info{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    color: white;
}
.info label:first-child{
    color: white;
    font-size: 20px;
}
.info label:last-child{
    font-size: 20px;
}
@keyframes transitionIn {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes transitionOut {
    0%{
        opacity: 0;
        transform: translateX(100%)
    }
    100%{
        opacity: 1;
        transform: translateX(0)
    }

}